.acf-field-color-picker-palette .acf-input {
	display: flex;
}

.acf-field-color-picker-palette .acf-input .palette-color-picker-button {
	height: auto;
	margin-right: 4px;
}

.acf-field-color-picker-palette .acf-input .acf-error-message {
	position: absolute;
	bottom: 28px;
}

